.container {
    max-width: 960px;
}

/*
   * Custom translucent site header
   */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
   * Dummy devices (replace them with your own or something else entirely!)
   */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
   * Extra utilities
   */

.flex-equal>* {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

#banner {
    background-image: url("../img/banner.jpg");
}

#call-action {
    background: rgba(183, 23, 35, .85);
    color: white;
}

#call-action .btn {
    border-color: #3e988e;
    color: white;
}

#service-container {
    background-color: #3e988e;
    color: white;
}

#catalog-product {
    background-color: #d63642;
}


#catalog-product .item {
    background-color: #3e988e;
    height: 300px;
    padding: 0px;
    border-bottom: 10px solid #00463f;
    color: white;
}

#catalog-product .item img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

#metodology .col-md-8 .row .col-5 .row .col-2 {
    margin-top: 40px;
}

#nuestros-clientes img {
    max-height: 120px;
}

#testimonial {
    background-color: #3e988e;
    color: white;
}

#catalog-product h3{
    color: white;
}

#contact .btn {
    background-color: #3e988e;
    color: white;
}

.panel-right {
    background: #d63642;
}

#contact .panel-right h3{
    color: white;
}

input {
    font-size: 13px;
    height: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    background: rgba(0, 0, 0, 0);
    opacity: 0.5;
    transition: 0.2s ease;
}

textarea {
    font-size: 13px;
    height: 50px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    background: rgba(0, 0, 0, 0);
    opacity: 0.5;
    transition: 0.2s ease;
}

input:focus {
    outline: none;
    opacity: 1;
}

textarea:focus {
    outline: none;
    opacity: 1;
}

label {
    color: white;
    font-size: 13px;
    font-weight: normal;
    pointer-events: none;
    left: 5px;
    top: 15px;
    opacity: 0.5;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -10px;
    font-size: 12px;
    color: white;
    opacity: 1;
}

.stylish-color-dark {
    background-color: #3e4551 !important
}

footer.page-footer {
    bottom: 0;
    color: #fff
}

footer.page-footer .container-fluid {
    width: auto
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .2)
}

footer.page-footer a {
    color: #fff
}

.test-skin .page-footer {
    background-color: #fff
}

.white-skin .page-footer {
    background-color: #6f7178
}

.black-skin .page-footer {
    background-color: #222
}

.cyan-skin .page-footer {
    background-color: #114861
}

.mdb-skin .page-footer {
    background-color: #243a51
}

.deep-purple-skin .page-footer {
    background-color: #7f7e91
}

.navy-blue-skin .page-footer {
    background-color: #353b50
}

.pink-skin .page-footer {
    background-color: #535466
}

.indigo-skin .page-footer {
    background-color: #9095aa
}

.light-blue-skin .page-footer {
    background-color: #3f5c80
}

.grey-skin .page-footer {
    background-color: #44474b
}

@media (min-width:600px) {

    .fixed-sn .page-footer .container-fluid,
    .fixed-sn main {
        margin-right: 2%;
        margin-left: 2%
    }
}

@media (min-width:992px) {

    .fixed-sn .page-footer .container-fluid,
    .fixed-sn main {
        margin-right: 5%;
        margin-left: 5%
    }
}

@media (min-width:1200px) {

    .fixed-sn .page-footer .container-fluid,
    .fixed-sn main {
        margin-right: 6%;
        margin-left: 6%
    }
}

.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    width: 47px;
    height: 47px;
}

.btn-fb {
    background-color: #3b5998 !important;
    color: #fff;
}

.btn-tw {
    background-color: #3caef0 !important;
    color: #ffff;
}

.btn-wt {
    background-color: #00b300 !important;
    color: #ffff;
}

.btn-mail {
    background-color: #d63642 !important;
    color: #ffff;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}