<div class="cell cell-9">
  <h2>
    Hi! I’m <strong>{{ site.author }}</strong>, a software engineer since 2012
    with experience in the field of software engineering. I have worked on a
    variety of data analitycs, web and mobile projects.
  </h2>
  <p>
    My recent <a href="{{ site.baseurl }}projects.html">projects</a> are mainly
    focused on data analysis for decision-making. I believe that data is a
    powerful tool for better understanding users and improving the user
    experience. I strive to create applications that are easy to use and offer
    an exceptional user experience.
  </p>
  <p>
    Currently in my free time I am exploring my facet as an Indie Creator, with
    the goal of improving my skills in analysis, agile execution and creative
    process.
  </p>
  <p>
    I'm fortunate to be able to couch programmers who are still in training, 
    I share my experience with them, following up on their tasks, and doing 
    pair programming. With the aim of helping them improve their programming logic.
  </p>
  <p>
    In my day to day I work in the BackEnd with C#, I maintain web API's in .Net Core, 
    MVC projects with .Net, in the FrontEnd I work with Javascript and ReactJS, 
    I maintain applications made with NextJS. I also perform CI/CD pipeline review tasks 
    with Gitlab and Docker and Linux container maintenance.
  </p>
  <p>
    I invite you to check out some of my
    <a href="{{ site.baseurl }}projects.html"> projects</a>
    or read one of the articles on my
    <a href="{{ site.baseurl }}blog.html">blog</a>, where I talk about technical
    things about my day-to-day life as a programmer.
  </p>
  <p>
    You can check out a <a href="/cv.html">resume</a> of my career path and
    academic background.
  </p>
  <p>
    You can even contact me by writing to
    <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
    or if you prefer, send me an
    <a href="mailto:{{ site.email }}">email</a> in case you need my help.
  </p>
  {% include social.html %}
</div>
