<section class="thirteen columns">
  <h1>Education</h1>
  <article>
    <header>
      <h3>Master’s degree in Information Technologies</h3>
      <span>Descartes University </span>
      <span
        ><address>Chiapas, Mexico</address>
        <time>2014 to 2016 </time></span
      >
    </header>
  </article>
  <article>
    <header>
      <h3>Bachelor’s degree in Computer Science</h3>
      <span>Instituto Tecnológico Superior de Cintalapa</span>
      <span
        ><address>Chiapas, Mexico</address>
        <time>2008 to 2013</time></span
      >
    </header>
    <p>
      <em>Specialty: E-commerce.</em>
    </p>
  </article>
</section>
