<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Maestria en Tecnologias en Informática</h1>
            <span>Universidad descartes</span>
            <span><address>Chiapas, México</address><time>2014 al 2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Lic. en Informática</h1>
            <span>Instituto Tecnológico Superior de Cintalapa</span>
            <span><address>Chiapas, México</address><time>2008 al 2013</time></span>
        </header>
        <p>
            <em>Especialidad: Comercio electrónico.</em>
        </p>
    </article>
</section>