<section class="thirteen columns">
  <h2>EXPERIENCE</h2>
  <article>
    <header>
      <h3>
        Software Engineer in “El Colegio de la Frontera Sur” unit San Cristóbal.
      </h3>
      <p>Sep/2021-to date</p>
    </header>
  </article>
  <article>
    <header>
      <h3>Software Engineer in Roomie IT</h3>
      <p>Feb/2021-Aug/2021</p>
    </header>
  </article>
  <article>
    <header>
      <h3>
        Software Developer in “El Colegio de la Frontera Sur” unit San
        Cristóbal.
      </h3>
      <p>Jan/2020-Dec/2020</p>
    </header>
  </article>
  <article>
    <header>
      <h3>
        Web developer in “El Colegio de la Frontera Sur” unit San Cristóbal.
      </h3>
      <p>2018-2019</p>
    </header>
  </article>
  <h2>ACADEMIC EXPERIENCE</h2>
  <article>
    Co-author on the book chapter: “Aplicación de tecnologías de la información
    y comunicaciones en el proceso de certificación de café orgánico en Chiapas.
  </article>
  <article>
    Author in the copyright registry of the Sistema de Información para la
    Gestión de Inspección Cafetalera (SIGIC)”.
  </article>
  <article>
    Participation as a software developer in “Grupo de Investigación de ECOSUR
    en Zonas Cafetaleras” (GIEZCA) https://www.ecosur.mx/giezca/.
  </article>
  <article>
    Evaluation of predatory magazines on the thesis seminar II with the article
    publication: Open-Source Platforms Integration for the Development of an
    Architecture of Collection and Presentation of Information in "Internet of
    Things" Projects http://www.ijana.in/papers/V8I1-1.pdf.
  </article>
</section>
