<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Desarrollador Web y Asistente de Proyectos</h1>
            <span><address>El Colegio de la Frontera Sur unidad San Cristóbal</address><time>2013 a la actualidad</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Profesor de la Universidad San Marcos</h1>
            <span><address>Plantel San Cristóbal</address><time>2016</time></span>
        </header>
        <p></p>
    </article>
</section>