<div class="cell cell-9">
  <h2>
    ¡Hola! Soy <strong>{{ site.author }}</strong>, desarrollador de software
    desde el 2012 con experiencia en el campo de la ingeniería de software. He
    trabajado en una variedad de proyectos web y móviles.
  </h2>
  <p>
    Mis últimos <a href="{{ site.baseurl }}projects.html">proyectos</a> están
    enfocados principalmente en el análisis de datos para la toma de decisiones.
    Creo que los datos son una herramienta poderosa para comprender mejor a los
    usuarios y mejorar la experiencia del usuario. Me esfuerzo por crear
    aplicaciones que sean fáciles de usar y que ofrezcan una experiencia de
    usuario excepcional.
  </p>
  <p>
    Actualmente en mi tiempo libre estoy explorando mi faceta como Indie
    Creator, con el objetivo de mejorar mis habilidades de análisis, ejecución
    agil y proceso creativo.
  </p>
  <p>
    He trabajado con diferentes lenguajes de programación pero tengo mayor
    experiencia con C# y JavaScript, centrándome principalmente en el desarrollo
    web. También he dado conferencias sobre el lenguaje de programación
    JavaScript y el desarrollo en la plataforma Android.
  </p>
  <p>
    Espero que esto te haya dado una idea de quién soy y lo que hago. Si
    necesitas más información o tienes alguna otra pregunta, no dudes en
    preguntar.
  </p>
  <p>
    Te invito a conocer algunos de mis
    <a href="{{ site.baseurl }}projects.html"> proyectos</a>
    o darle una leida a alguno de los articulos de mi
    <a href="{{ site.baseurl }}blog.html">blog</a>, donde platico cosas tecnicas
    sobre mi día a día como programador.
  </p>
  <p>
    Puedes revisar un <a href="/cv.html">resumen</a> de mi trayectoria y
    formación académica.
  </p>
  <h4>
    Incluso puedes contactarme escribiéndome a
    <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a>
    o si prefieres enviarme un
    <a href="mailto:{{ site.email }}">correo</a> en caso de que necesites de mi
    ayuda.
  </h4>
  {% include social.html %}
</div>
