<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
            Actualización de la página web oficial de “El Colegio de la Frontera Sur”, renovación del sitio oficial, configuración de usuarios, permisos y accesos para la edición de contenido, desarrollo de micrositios para foros y talleres; migración de contenido.
            <p>
                <span class="badge alert-info">Wordpress</span>
                <span class="badge alert-info">Buddypress</span>
                <span class="badge alert-info">Ionic</span>
            </p>
        </h5>
        
        <h5>
            Red social interna Ágora, implementación, configuración y personalización de red social interna para “El Colegio de la Frontera Sur”, generando un espacio web y aplicación móvil.
            <p>
                <span class="badge alert-info">Joomla 2.5</span>
                <span class="badge alert-info">Wordpress</span>
            </p>
        </h5>
        
        <h5>
            Modulo “Geobuscador”, permite la búsqueda de productos a través de diferentes filtros como lugar, lugares; mostrando los resultados en un mapa.
            <p>
                <span class="badge alert-info">PHP</span>
                <span class="badge alert-info">Javascript</span>
                <span class="badge alert-info">Leaflet</span>
            </p>
        </h5>
        
        <h5>
            Modulo “Búsqueda de Instituciones”, permite realizar la búsqueda de Instituciones con la que han colaborado almacenadas en sus bases de datos institucionales con la finalidad ofrecer a la comunidad información de contacto.
            <p>
                <span class="badge alert-info">PHP</span>
                <span class="badge alert-info">Javascript</span>
            </p>
        </h5>
        
        <h5>
            Apoyo en el desarrollo de la Plataforma “ECOCONSULTA”, permite a la comunidad de “El Colegio de la Frontera Sur” visualizar información de indicadores, productos, personal, alumnos entre otros.
            <p>
                <span class="badge alert-info">PHP</span>
                <span class="badge alert-info">Javascript</span>
                <span class="badge alert-info">Elasticsearch</span>
            </p>
        </h5>
        
        <h5>
            Página de “Libros ECOSUR” V1, este portal permite la búsqueda y visualización de sus libros publicados, permitiendo la gestión y realización de pedidos a través de un carrito de compras.
            <p>
                <span class="badge alert-info">PHP</span>
                <span class="badge alert-info">Javascript</span>
            </p>
        </h5>
        
        <h5>
            Módulos para el sistema de gestión de “Proyectos MT”, estos módulos permitían el acceso a la plataforma y el despliegue de la información sobre el estatus de evaluación de los proyectos.
            <p>
                <span class="badge alert-info">PHP</span>
                <span class="badge alert-info">Laravel</span>
            </p>
        </h5>
        
        <h5>
            Módulos para el “Sistema de Producción Académica”, se realizaron diversos módulos para la gestión de información para la evaluación y seguimiento de proyectos, generación de dictámenes, integración de mapas, entre otros.
            <p>
                <span class="badge alert-info">PHP</span>
                <span class="badge alert-info">Laravel</span>
                <span class="badge alert-info">Javascript</span>
            </p>
        </h5>
        
        <h5>
            Sistema para la gestión de “Contratos y Convenios”, sistema que atiende al proceso de registro, evaluación y aprobación de información relacionada con instrumentos legales relacionados a contratos y convenios.
            <p>
                <span class="badge alert-info">PHP</span>
                <span class="badge alert-info">Laravel</span>
                <span class="badge alert-info">Javascript</span>
            </p>
        </h5>
        
        <h5>
            Módulos para el “Sistema de Fideicomisos”, se apoyo en el desarrollo de las secciones que permitían la asignación e invitación de revisores.
            <p>
                <span class="badge alert-info">C#</span>
                <span class="badge alert-info">ASP .NET MVC</span>
                <span class="badge alert-info">Javascript</span>
                <span class="badge alert-info">Team Foundation</span>
            </p>
        </h5>
        
        <h5>
            Módulos para el sistema de “Evaluación de Aspirantes al Posgrado”, los módulos desarrollados permiten la gestión de comités de evaluación, configuración de entrevistas.
            <p>
                <span class="badge alert-info">C#</span>
                <span class="badge alert-info">ASP .NET MVC</span>
                <span class="badge alert-info">Javascript</span>
                <span class="badge alert-info">Team Foundation</span>
            </p>
        </h5>
        
        <h5>
            Sistema para la gestión de producción orgánica “SIGO”, plataforma para la gestión de la información generada durante el proceso de inspección de producción orgánica de Café, permitiendo el registro Offline de información y la gestión a través de una plataforma web.
            <p>
                <span class="badge alert-info">C#</span>
                <span class="badge alert-info">ASP .NET MVC</span>
                <span class="badge alert-info">Javascript</span>
                <span class="badge alert-info">Team Foundation</span>
                <span class="badge alert-info">ODK</span>
            </p>
        </h5>
        
        <h5>
            Desarrollo de las aplicaciones móviles “Soil Resistivity” y “Multiparameter”, aplicaciones móviles que realizan la conexión a través de bluetooth a un dispositivo Arduino para recibir información capturada por diversos sensores.
            <p>
                <span class="badge alert-info">Java</span>
                <span class="badge alert-info">Android</span>
                <span class="badge alert-info">Arduino</span>
            </p>
        </h5>
    </div>
  </div>
</div>
</section>
